:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter;
}

#app {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.header {
  background-color: #33b667;
  text-align: center;
  height: 76px;
  color: #fff;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
  margin: 150px auto;
}

.matches {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 340px;
}

.matches-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
}

.matches-header h3 {
  font-size: 16px;
  font-weight: normal;
}

.matches-header h4 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-button {
  background-color: #33b667;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  margin-bottom: 20px;
}

.match {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0;
  color: #000;
  padding-bottom: 16px;
  border-bottom: 1px solid #ddd;
}

.match:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.match-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.team {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
}

.team svg {
  width: 30px;
  height: 30px;
}

.team.left svg {
  margin-right: 20px;
}

.team.right svg {
  margin-left: 20px;
}

.score {
  font-size: 22px;
  color: #d1d1d1;
}

.score span {
  font-size: 15px;
  font-weight: bold;
  color: #000;
}
